@page
{
    size: letter;
    margin: 10mm;
    padding: 0;
    font-family: sans-serif;

    @bottom-right
    {
        font-size: .75em;
        content: "Page " counter(page) " of " counter(pages);
        padding-bottom: 5mm;
    }
    @bottom-left
    {
        font-size: .75em;
        content: "Nikolay Pshenichny / Resume";
        padding-bottom: 5mm;
    }
}

body
{
    text-align: justify;
    line-height: 1.25em;
    font-size: 0.75em;
    font-family: sans-serif;
}

h1
{
    -weasy-bookmark-level: none 
}

table td
{
    padding: 2px;
}

table th
{
    display: none;
}